{% block content %}
  <h2>Decrypt</h2>
  <form action="/process_form" method="post" >
    <div class="col-sm-4 col-lg-4 col-md-4" id="option_div">
        <select class="form-control" name="decryption_select">
          {% for x in crypto_list %}
            <option value="{{ x }}"{% if x == decrypt_alg %} SELECTED{% endif %}>{{ x }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-success">Select</button>
    </div>
  </form>
  <form action="/" method="post" role="form" >
    <div class="form-group">
      {% if decrypt_alg == "LFSR" %}
          <label for="text">Content to Decrypt:</label>
          <textarea cols="40" rows="5" type="text" class="form-control" name="decrypt" placeholder="Content to Decrypt"></textarea>
          <br>
          <label>Seed: </label>
          <input name ="seed" />
          <label>Tap: </label>
          <input name ="tap" />
      {% else %}
          <label for="text">Content to Decrypt:</label>
          <textarea cols="40" rows="5" type="text" class="form-control" name="decrypt" placeholder="Content to Decrypt"></textarea>
          <br>
          <label>Key: </label>
          <input name ="key" />
      {% endif %}
      <br>
    </div>
    <button type="submit" class="btn btn-success">Decrypt</button>
  </form>
  <br>

    {% with messages = get_flashed_messages(category_filter=['decrypt']) %}
        {% if messages %}

    {% for message in messages %}
        {% if "Error" not in message: %}
            <div class="alert alert-info">
            {{ message }}
            </div>
        {% endif %}

        {% if "Error" in message: %}
            <div class="alert alert-warning">
            {{ message }}
            </div>
        {% endif %}
    {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}