<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
      <title>Crypto Library</title>
     <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
     <link rel="stylesheet" href="static/bootstrap-theme.min.css">
     <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Crypto Library</h1>
    <div class="container">
      <h2>Encrypt</h2>

      <form action="/process_form" method="post">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <select class="form-control" name="encryption_select">
              {% for x in crypto_list %}
                <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-success">Select</button>
        </div>
      </form>
      <form action="/" method="post" role="form">
        <div class="form-group">
          <label for="text">Content to Encrypt:</label>
          <textarea cols="40" rows="5" type="text" class="form-control" name="encrypt" placeholder="Content to Encrypt"></textarea>
          <br>
        </div>
        <button type="submit" class="btn btn-success">Encrypt</button>
      </form>
      <br>
        {% with messages = get_flashed_messages(category_filter=['encrypt']) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message: %}
                <div class="alert alert-info">
                {{ message }}
                </div>
            {% endif %}
 
            {% if "Error" in message: %}
                <div class="alert alert-warning">
                {{ message }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <br>

    <div class="container">
      <h2>Decrypt</h2>
      <form action="/process_form" method="post">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <select class="form-control" name="decryption_select">
              {% for x in crypto_list %}
                <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-success">Select</button>
        </div>
      </form>

      <form action="/" method="post" role="form">
        <div class="form-group">
          <label for="text">Content to Decrypt:</label>
          {% if decrypt_alg == "LFSR" %}
              <textarea cols="40" rows="5" type="text" class="form-control" name="decrypt" placeholder="Content to Decrypt"></textarea>
              <input name ="seed">seed</option>
              <input name ="tap">tap</option>
          {% else %}
              <textarea cols="40" rows="5" type="text" class="form-control" name="decrypt" placeholder="Content to Decrypt"></textarea>
              <input name ="key">key</option>
          {% endif %}
          <br>
        </div>
        <button type="submit" class="btn btn-success">Decrypt</button>
      </form>
      <br>

        {% with messages = get_flashed_messages(category_filter=['decrypt']) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message: %}
                <div class="alert alert-info">
                {{ message }}
                </div>
            {% endif %}
 
            {% if "Error" in message: %}
                <div class="alert alert-warning">
                {{ message }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
    </div>            
  </body>
</html>


<!-- <html>
  <head>
    <title>Crypto Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div>Encryption!</div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html> -->


  <!--  <select name="decryption_select">
          <option value="0">LFSR</option>
          <option value="1">AES</option>
          <option value="2">Symmetric Authenticated Cryptography</option>  
        </select> -->